/ コンテンツ
.content-bookmark
	
	/ ページ名
	%h2.title BOOKMARK
	
	%button{ :class => "btn btn-info bookmark", :onclick => "window.open('https://www.ruby-lang.org/ja/')" } Ruby
	%button{ :class => "btn btn-info bookmark", :onclick => "window.open('http://www.sinatrarb.com/')" } Sinatra
	%button{ :class => "btn btn-info bookmark", :onclick => "window.open('http://www.sqlite.org/')" } SQLite3
	%button{ :class => "btn btn-info bookmark", :onclick => "window.open('http://designmodo.github.io/Flat-UI/')" } Flat UI
