/ コンテンツ
.content-chat
	
	/ ページ名
	%h2.title CHAT
	
	%article.timeline
		
		%article.chat
			%div.datetime 2013/09/04 17:03:45
			%div.name
				%span{ :class => "name-blue" } Mr.Hoge
			%div.text Hello, Im Hoge.
			
		%article.chat
			%div.datetime 2013/09/04 17:04:01
			%div.name
				%span{ :class => "name-pink" } Ms.Moge
			%div.text How are you?
			
		%article.chat
			%div.datetime 2013/09/04 17:04:39
			%div.name
				%span{ :class => "name-blue" } Mr.Hoge
			%div.text Im fine. What is this site?
			
		%article.chat
			%div.datetime 2013/09/04 17:05:20
			%div.name
				%span{ :class => "name-pink" } Ms.Moge
			%div.text Its very nice communication tools.
			
		%article.chat
			%div.datetime 2013/09/04 17:05:42
			%div.name
				%span{ :class => "name-blue" } Mr.Hoge
			%div.text I heard thats great!
		